/*  Start stylów dla Przyciski - buttony */
.btnFirst {
    padding-left: 15px !important;
    width: 30px;
}

.btnFirst p {
    margin-bottom: 2px !important;
    display: flex;
    justify-content: center;
}

.btnAddNewCard {
    background-color: var(--thirdColor);
}

.openFormButtonGroup {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50;
    height: 50;
    width: 284;
    margin-top: 30;
}

@media(max-width:1200px) {

    .btnFirst {
        width: 50px !important;
        margin: 0px;
        padding: 13px !important;

    }

    .btnFirst:hover {
        background-color: var(--thirdColor) !important;
    }

    .btnFirst p {
        display: none;
    }


}


/*  Koniec stylów dla Przyciski - buttony */