@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto&display=swap');


@media (max-width:1600px) {
    .cardCustomList {
        width: 200px !important;
        font-size: 12px;
    }

    .card-title {
        font-size: 12px;

    }



}



.formContainer {
    display: flex;
    justify-content: center;
}

.formContainer form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.formItem {
    margin: 10px;
    border-radius: 10px;
}

.formItem input {
    height: 35px;
    border-radius: 30px;
    border: none;
    text-indent: 10px;
}

.formItem input:hover {
    outline: none;
    -webkit-box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.75);
}

.cardCustom {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.card-body {
    height: 100%;
}

.cardCustomList {
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    background: #2e2e2e;
    -webkit-box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.75);
}

.arch {
    background: transparent;
}

.cardDetailNav {
    display: flex;
    background-color: #ffff;

}


.cardDetailNav p {
    padding-left: 10px;
    padding-right: 10px;
}

.cardDetailNav p:first-child {
    padding-left: 0px;
}

.cardDetailAction {
    background-color: #ffff;

}

.cardDetailNav h4 {
    padding-left: 10px;
    padding-right: 10px;
}

.cardDetailCommentContent {
    background-color: #ffff;
    border-radius: 8px;
    padding: 10px;
    margin-top: 3rem;

}

.modalBodyCustom {
    background-color: #ffff;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;

}

.modal-content {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.cardDetailDescription {
    color: black;
}



.btnDelete svg:hover {
    color: red !important;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.card-footer a:hover {
    color: #fff;
    text-decoration: none;
}