@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background: #c31432;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --firstColor: #045982;
  --secondColor: #006cbc;
  --thirdColor: #116149;
  font-family: 'Roboto', sans-serif !important;

}

p {
  color: rgb(105, 105, 105) !important;
}

/* start stylów kontenera home */

.ListContainer {
  background-color: rgb(193, 193, 193, .5);
  color: #ffff;
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  width: 97%;
  margin-bottom: 2rem;
  z-index: 0;

}

contentTrelloBox {
  background-color: rgb(155, 155, 155, .4);
  height: 100vh;
}


@media(min-width:768px) {
  .ListContainer {
    border-radius: 5px;
    height: 100%;
    margin-right: 8px;
    width: 300px;
    margin-bottom: 20rem;

  }
}

/* end stylów kontenera home */
.newTaskTitle {
  font-family: 'Carter One', cursive;
  text-align: center;
  color: #fff;
}

/* start styli do list */

.cardListBox {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 2rem;
  z-index: 0;


}

@media(min-width:768px) {
  .cardListBox {
    flex-direction: row;
  }
}

.sectionText {
  position: absolute;
  left: 50%;
}

.textNewBoard {
  position: relative;
  left: -50%;
  display: flex;
  align-items: center;
  margin-left: 3rem;
  padding-top: 8px;
  color: #fff;
}

.textNewBoard {
  font-weight: bold;
  font-family: 'Anton', sans-serif;


}

/* end styli do list */

/* start style do kart  */
.cardBodyContent p {
  font-size: 13px;
}

.cardBodyContent:hover {
  background-color: transparent;
  background-color: var(--firstColor);
  color: aliceblue;
  font-size: 19px;
}


@media(min-width:1200px) {
  .cardListBox {
    flex-direction: row;
  }
}



/* end style do kart  */


/* style do strony rejestracji */
.authBox {
  width: 700px;
  overflow: hidden;
  margin: 200px auto;



}

.leftBox {
  width: 300px;
  height: 480px;
  float: left;
  position: relative;
  display: block;
  -webkit-box-shadow: 24px 1px 29px 3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 24px 1px 29px 3px rgba(0, 0, 0, 0.27);
  box-shadow: 24px 1px 29px 3px rgba(0, 0, 0, 0.27);
}

.leftBoxregister {
  width: 300px;
  height: 580px;
  float: left;
  position: relative;
  display: block;
  -webkit-box-shadow: 24px 1px 29px 3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 24px 1px 29px 3px rgba(0, 0, 0, 0.27);
  box-shadow: 24px 1px 29px 3px rgba(0, 0, 0, 0.27);
}

.bgGreen {
  width: 100%;
  height: 100%;
  /* background-color: rgb(19, 170, 82); */
  border-top-left-radius: 90px;
}

.imageAuth {
  background-image: url("assets/images/background.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 90px;
  /* opacity: .5; */
  position: absolute;
  top: 0;
  left: 0;
  color: #ffff;
}

.imageAuth {
  font-size: 28px;
  position: absolute;
  color: #ffff;
}

.imageText {
  position: absolute;
  font-size: 28px;
  color: #ffff;
  padding: 5px;


}

.imageText.bold {
  font-weight: bold;


}

.imageText.style1 {
  top: 200px;
  left: 60px;
  font-family: 'Carter One', cursive;
}

.style1 {
  font-family: 'Carter One', cursive;
}

.imageText.style2 {
  top: 240px;
  left: 60px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;


}

.rightBoxLogin {
  width: 400px;
  height: 480px;
  float: right;
  background-color: #ffff;
  border-bottom-right-radius: 90px;
}

.rightBoxRegister {
  width: 400px;
  height: 580px;
  float: right;
  background-color: #ffff;
  border-bottom-right-radius: 90px;
}

.box {
  width: 310px;
  height: 415px;
  margin: 32px auto;
}


.titleAuth {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  color: #116149;

}

.titleAuth2 {
  margin-bottom: 30px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.inputSBox {
  width: 300px;
  height: 42px;
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 10px;
}

.inputSBox input {
  border: 0;
  font-size: 14px;
  outline: none;

}

.inputSBox:hover {
  outline: none;

}

.inputSBox input:hover {
  border: 0;
  background-color: rgb(33, 212, 212);

}

.inputS {
  width: 100%;
  height: 98%;
  font-size: 14px;
  color: var(--firstColor);
  text-indent: 10px;
  border-radius: 5px 5px 0 0px;
  outline: none;
}

.inputS:focus {
  outline: none;
}

.contentBox {
  overflow: hidden;
  height: 42px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

}

.checkboxBox {
  overflow: hidden;
  float: left;

}

.checkbox {
  float: left;

}

.checkboxLabel {
  float: left;
  font-size: 14px;
  margin-left: 5px;
  color: #37353f;
}

.text1 {
  float: right;
  font-size: 14px;
  color: #006cbc;
  cursor: pointer;

}

.btnAuth {
  width: 100%;
  height: 47px;
  color: #ffff;
  background-color: var(--firstColor);
  text-align: center;
  line-height: 47px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
}

.btnAuth:hover {
  background-color: var(--thirdColor);



}

.borderBox {
  height: 47px;
  position: relative;
  margin: 20px 0;

}


.line {
  border-bottom: 2px solid #d8d8d8;
  position: absolute;
  top: 22px;
  width: 100%;
}

.text2 {
  font-size: 14px;
  color: #818487;

}

.text2.or {
  position: absolute;
  top: 14px;
  left: 120px;
  background-color: #ffff;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

}

.socialMediaBox {
  overflow: hidden;
  width: 184px;
  height: 47px;
  margin: 0 auto;
  padding-right: 0;
}



.icAuth {
  width: 41px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin-right: 30px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: space-between;

}

.icAuth:hover {
  color: #045982;
}

.icAuth:last-child {
  margin-right: 0;
}

.icAuth.google {
  background-image: url("assets/images/fb.png");
}

.icAuth.facebook {
  background-image: url("assets/images/fb.png");
}

.icAuth.twitter {
  background-image: url("assets/images/fb.png");
}




@media screen and (max-width: 768px) {
  .authBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .leftBox {
    display: none;
  }

  .rightBox {
    width: 80%;
    border-radius: 8px;
  }
}

.modal-content {
  /* background: linear-gradient(to right, #acacac, #c9c9c9) !important; */
  background-color: rgb(241, 241, 241) !important;
  border: 0px !important;
  /* color: white; */
}

@media (max-width:1600px) {
  .hello {
    height: 200px !important;
    width: 200px !important;
    background-size: cover;
  }

  .hello p {
    top: 70px !important;
    left: 120px !important;
    font-size: 12px;
  }
}

.hello {

  background-image: url("assets/images/hello.png");
  height: 300px;
  width: 300px;
  display: flex;
  position: relative;
  margin-left: 20px;
  background-size: cover;

}

.hello p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 108px;
  left: 165px;
  color: black !important;
}



.tablica {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(255, 255, 255); */
  background-color: transparent;

  width: 97vw;
  padding-top: 20px;
  margin: 0 auto;
  /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
  margin-bottom: 100px;
  border-radius: 8px;
}

.tablicaArch {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  width: 97vw;
  margin: 0 auto;

}

hr {
  border: 1px solid rgba(255, 255, 255, .2);

}